.borderButton{
    border-style: solid !important;
    border-width: 2px !important;
    border-color: black !important;
}
.roundedCorner {
    border-radius: 15px !important;
}
body{
    background: url('../img/illustration/Background/background.png') !important; 
    /* background-repeat: no-repeat !important; */
    background-size: cover !important;
}
.dayCountOverlay{
    border-radius:0px 15px 0px 15px !important;
    margin: auto;
    padding: 10px;
    text-align: center;
}
.uploadProofOverlay{
    border-radius:0px 0px 15px 15px !important;
    margin: auto;
    padding: 10px;
    text-align: center;
}
.balanceOverlay{
    border-radius:15px 0px 50px 0px !important;
    margin: auto;
    padding: 10px;
    text-align: center;
}
.show-read-more .more-text {
    display: none;
}
.title0{
    color:var(--secondary);
}